
.homeCon{
    max-width:100% !important;
    margin-top:-0px !important;
}
 
.homeminCon{
    background-repeat: no-repeat;
    margin: 0px;
    background-size: 100%;
    color: white;
    min-height: 102.6vh;
    object-fit: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden !important;
}

.pa1{
    width: 605px !important;
    height: 164px !important;
    font-family: 'Lora' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 64px !important;
    line-height: 82px !important;
    text-align: right !important;
    margin-left:1180px !important;
    margin-top:200px !important;
    padding: 16px !important;
}

.pa2{
    font-weight: 700;
    font-size: 32px;
    line-height: 41px;
    margin-left:950px;
    /* padding-top:300px; */
    margin-top: 70px !important;
    margin-right:-340px;
    text-align: right;
    width: 395px;
    height: 221px;
}

/* margin-left: 950px !important;
  margin-top: 0 !important;*/

.homebtn{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 12px 28px !important;
    gap: 10px !important;
    width: 195px !important;
    height: 55px !important;
    border: 2px solid #FFFFFF !important;
    border-radius: 8px !important;
    flex: none !important;
    order: 0 !important;
    flex-grow: 0 !important;
    margin-left:1450px !important;
    margin-top: 0px !important;
    color:#FFF !important;
    text-decoration: none !important;
    background: none !important; 
    margin-top: 40px !important; 
    margin-bottom: 75px !important;
    cursor: pointer;
}

.homebtn:hover{
    opacity: 0.33;
}

/* cd my-new
npm start
y */

@media screen and (max-width: 780px) {
    .homeCon {
        margin-top: 0px !important;
        padding-top: -70px !important;
    }

    .homeminCon {
        margin-top: 0px !important;
        padding-top: 130px !important;
        background-size: cover;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .pa1 {
        width: 100% !important;
        height: auto !important;
        font-size: 36px !important;
        line-height: 46px !important;
        margin: 0% !important;
        padding-top: 0px !important;
        text-align: center !important;
    }

    .pa2 {
        width: 356px ;
        height: 131px ;
        font-size: 20px;
        line-height: 26px;
        margin: 24px 0 ;
        text-align: center ;
        background: rgba(14, 12, 11, 0.46) ;
        box-sizing: border-box;
        padding: 16px;
        
    }

    .pa2 {
        margin-left: 0 !important;
        margin-top: -20px !important;
        margin-right: 0 !important;
      }

    .homebtn {
        margin-left: 0 !important;
        margin-right: 0px !important;
        margin-top: 120px !important;
        margin-bottom: -120px !important;
        /* margin-bottom: 40px !important; */
    }

}